<%= form_with(model: todo, local: true) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
        <% todo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, @users, :id, :name, { prompt: "Select User" } %>
    <!-- @users: ユーザーのコレクション, :id: UserモデルのID属性, :name: 表示したいUserモデルの属性 -->
  </div>

  <div class="field">
    <%= form.label :categories %><br>
    <%= form.collection_select :category_ids, @categories, :id, :title, {}, { multiple: true, size: 5 } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
